p {
    color: red;
    font-size: 24px;
}

.XYZ {
    background: #00FF00;
}

p, h2 {
    font-size: 24px;
}

[target="_blank"] {
    color: yellow;
}

ul li {
    font-weight: bold;
}

.the > span {
    font-size: 18px;
}

.the > div > span {
    font-style: italic;

}